
.blog-single{

    .site-main {
        display: flex;
        justify-content: center;
        
        article {
            width: 100%;
            padding: 20px 0;
            border-bottom: 2px solid #ddd;

            img{
                width: 100%;
                height: auto;
                margin-bottom: 20px;
            }
            .entry-content{

                p{
                    /* text-align: justify; */
                }
            }
        }   
    }

    .info-single{
        display: flex;
        flex-directino: row;
    
        p{
            margin-right: 20px;
            word-wrap: break-word;
    
            a:hover{
                color: var(--hover-color);
            }
        }
    }
}

/* .post-excerpt {
    word-wrap: break-word;
    overflow-wrap: break-word;
} */

/* Tablets (iPad, min-width: 768px) */
@media (min-width: 768px) {
    .site-main {
        display: flex;
        justify-content: center;
        padding: 40px 20px;
    }
    article {
        max-width: 600px; /* Ancho similar al NY Post */
        padding: 20px;
        border-bottom: 2px solid #ddd;
    }   
}

/* Laptops (min-width: 1024px) */
@media (min-width: 1024px) {

}

/* Desktops (min-width: 1440px) */
@media (min-width: 1440px) {

}